## indexing
### iloc
df. iloc - set by number
### loc
df.loc - set by  column name


if using loc then - df.loc*[*0:1000*]* return 1001 of them! To get 1000 elements using loc, you will need use df.loc*[*0:999*]*.

***

Data from kaggle
[winedata](https://www.kaggle.com/zynicide/wine-reviews#winemag-data_first150k.csv)

In [4]:
import pandas as pd 
reviews = pd.read_csv('..\data\wine.csv', index_col=0)
reviews.head()

    country  ...               winery
0     Italy  ...              Nicosia
1  Portugal  ...  Quinta dos Avidagos
2        US  ...            Rainstorm
3        US  ...           St. Julian
4        US  ...         Sweet Cheeks

[5 rows x 13 columns]

***
Select the description column from reviews and assign the result to the variable desc.

In [5]:
desc = reviews.iloc[:,1]
desc

0         Aromas include tropical fruit, broom, brimston...
1         This is ripe and fruity, a wine that is smooth...
2         Tart and snappy, the flavors of lime flesh and...
3         Pineapple rind, lemon pith and orange blossom ...
4         Much like the regular bottling from 2012, this...
                                ...
129966    Notes of honeysuckle and cantaloupe sweeten th...
129967    Citation is given as much as a decade of bottl...
129968    Well-drained gravel soil gives this wine its c...
129969    A dry style of Pinot Gris, this is crisp with ...
129970    Big, rich and off-dry, this is powered by inte...
Name: description, Length: 129971, dtype: object

*** 
Select the first value from the description column of reviews, assigning it to variable first_description.

In [8]:
first_description = reviews.iloc[0,1]
first_description

"Aromas include tropical fruit, broom, brimstone and dried herb. The palate isn't overly expressive, offering unripened apple, citrus and dried sage alongside brisk acidity."

***
Select the first row of data (the first record) from reviews, assigning it to the variable first_row.

In [9]:
first_row = reviews.loc[0]
first_row

country                                                              Italy
description              Aromas include tropical fruit, broom, brimston...
designation                                                   Vulkà Bianco
points                                                                  87
price                                                                  NaN
province                                                 Sicily & Sardinia
region_1                                                              Etna
region_2                                                               NaN
taster_name                                                  Kerin O’Keefe
taster_twitter_handle                                         @kerinokeefe
title                                    Nicosia 2013 Vulkà Bianco  (Etna)
variety                                                        White Blend
winery                                                             Nicosia
Name: 0, dtype: object

***
Select the first 10 values from the description column in reviews, assigning the result to variable first_descriptions.

In [10]:
first_descriptions = reviews.loc[0:9, 'description']
first_descriptions

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
2    Tart and snappy, the flavors of lime flesh and...
3    Pineapple rind, lemon pith and orange blossom ...
4    Much like the regular bottling from 2012, this...
5    Blackberry and raspberry aromas show a typical...
6    Here's a bright, informal red that opens with ...
7    This dry and restrained wine offers spice in p...
8    Savory dried thyme notes accent sunnier flavor...
9    This has great depth of flavor with its fresh ...
Name: description, dtype: object

In [ ]:
***
Select the records with index labels 1, 2, 3, 5, and 8, assigning the result to the variable sample_reviews.

In [11]:
sample_reviews = reviews.iloc[[1,2,3,5,8],:]
sample_reviews

    country  ...               winery
1  Portugal  ...  Quinta dos Avidagos
2        US  ...            Rainstorm
3        US  ...           St. Julian
5     Spain  ...               Tandem
8   Germany  ...          Heinz Eifel

[5 rows x 13 columns]

***

In [12]:
df = reviews.iloc[[0,1,10,100], [0,5,6,7]]
df

      country           province      region_1      region_2
0       Italy  Sicily & Sardinia          Etna           NaN
1    Portugal              Douro           NaN           NaN
10         US         California   Napa Valley          Napa
100        US           New York  Finger Lakes  Finger Lakes

***

In [13]:
df = reviews.iloc[:100,[0,11]]
df

     country                   variety
0      Italy               White Blend
1   Portugal            Portuguese Red
2         US                Pinot Gris
3         US                  Riesling
4         US                Pinot Noir
..       ...                       ...
95    France                     Gamay
96    France                     Gamay
97        US                  Riesling
98     Italy                Sangiovese
99        US  Bordeaux-style Red Blend

[100 rows x 2 columns]

***
Create a DataFrame top_oceania_wines containing all reviews with at least 95 points (out of 100) for wines from Australia or New Zealand.

In [20]:
top_oceania_wines = reviews.loc[((reviews.country == 'Australia') | (reviews.country == 'New Zealand')) & (reviews.points >= 95)]
top_oceania_wines.head(3)

       country  ...                       winery
345  Australia  ...  Chambers Rosewood Vineyards
346  Australia  ...  Chambers Rosewood Vineyards
348  Australia  ...  Chambers Rosewood Vineyards

[3 rows x 13 columns]